<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="uppercase">
            <p><strong>Original:</strong> {{nombreLower}} </p>
            <p><strong>Resultado:</strong> {{nombreLower | uppercase}}</p>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase">
            <p><strong>Original:</strong> {{nombreUpper}} </p>
            <p><strong>Resultado:</strong> {{nombreUpper | lowercase}}</p>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase">
            <p><strong>Original:</strong> {{nombreCompleto}} </p>
            <p><strong>Resultado:</strong> {{nombreCompleto | titlecase}}</p>
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar la fecha. <strong>Firma:</strong> value_expression | date : format : timezone : locale
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ol>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'EEEE c, MM-YYYY' (personalizada)</li>
            </ol>
            <hr>
            <ol>
                <li>fecha | date:'long':'GMT-8'</li>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'':'en'</li>
                <li>{{fecha | date:'long':'':'fr'}}</li>
            </ol>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ol>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'EEEE c, MM-YYYY'}}</li>
            </ol>
            <hr>
            <ol>
                <li>{{fecha | date:'long':'GMT-8'}}</li>
                <li>{{fecha | date:'long':'GMT-6'}}</li>
                <li>{{fecha | date:'long':'':'en'}}</li>
                <li>{{fecha | date:'long':'':'fr'}}</li>
            </ol>
        </p-card>
    </div>
</div>
